#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Apply transition effects to the page */
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.page-wrapper {
  position: relative;
}









/* Ensure the whole page takes at least full height */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure main content expands and pushes the footer down */
.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Ensure recipe container fills available space */
.recipe-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer stays at the bottom */
.footer {
  margin-top: auto;
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  transition: background 0.3s;
}




